---
layout: base.njk
pagestyle: /css/note.css
---



<p class="last-modified">Last Modified - {{ page.date | readablePostDate }}</p>
<h1>{{ title }}</h1>
{{ content | safe }}

{% if not hide_related %}
  <h1 class="related">Related</h1>
  {% for tag in tags %}
    {% if collections[tag].length > 1 and tag != "garden" %}
      <h2>
        tag: {{ tag }}
      </h2>
      <ul>
        {% for note in collections[tag] %}
          {% if note.url != page.url and not note.data.private %}
            <li>
              <a href="{{ note.url | url}}">{{ note.data.title }}</a> 
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    {% endif %}
  {% endfor %}
{% endif %}