@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,700;1,400;1,700&family=Signika:wght@700&display=swap");
@font-face {
  font-family: "Maka";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/Maka.otf) format("opentype");
}
html {
  margin: 0;
  padding: 0;
}
html * {
  transition: all 0.25s;
}
html body {
  background: rgb(18, 18, 18);
  color: whitesmoke;
  font-family: "Nunito", sans-serif;
  margin-left: 25vw;
  margin-right: 25vw;
  margin-top: 4rem;
  margin-bottom: 10rem;
  display: grid;
  grid-template-areas: "sidebar header" "sidebar content";
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
}
@media screen and (max-width: 1700px) {
  html body {
    margin-right: 15vw;
  }
}
@media screen and (max-width: 1200px) {
  html body {
    margin-right: 8vw;
  }
}
@media screen and (max-width: 975px) {
  html body {
    margin-right: 2rem;
  }
}
@media screen and (max-width: 775px) {
  html body {
    margin-top: 1rem;
    margin-left: 0;
    margin-right: 0;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
@media screen and (max-width: 775px) {
  html body {
    grid-template-areas: "header" "content";
    grid-template-columns: initial;
  }
}
@media screen and (max-width: 775px) {
  html body .sidebar.visible {
    margin-left: 0 !important;
  }
}
html body .sidebar {
  grid-area: sidebar;
  padding-right: 9rem;
  margin-left: -18rem;
  margin-top: 1rem;
}
@media screen and (max-width: 1200px) {
  html body .sidebar {
    margin-left: -14rem;
  }
}
@media screen and (max-width: 875px) {
  html body .sidebar {
    margin-left: -12rem;
    padding-right: 5rem;
  }
}
@media screen and (max-width: 775px) {
  html body .sidebar {
    margin-left: -75vw;
    margin-right: 0;
    padding-right: 0;
    margin-top: 3rem;
    position: absolute;
    background: rgb(18, 18, 18);
    border: 2px solid rgba(78, 198, 170, 0.337);
    border-radius: 1rem;
    width: 70vw;
  }
}
html body .sidebar ul {
  list-style: none;
}
html body .sidebar ul li {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}
html body .sidebar ul li a {
  color: rgba(255, 255, 255, 0.243);
  font-weight: bold;
}
@media screen and (max-width: 775px) {
  html body .sidebar ul li a {
    color: rgba(255, 255, 255, 0.784);
  }
}
html body .sidebar ul li a:hover {
  color: rgb(73, 187, 160);
}
html body main {
  grid-area: content;
}
html body a {
  text-decoration: none;
  color: rgb(73, 187, 160);
}
html body a:visited {
  color: rgb(73, 187, 160);
}
html body ul {
  padding-left: 1rem;
}
html body ul li {
  font-size: 1.2rem;
  line-height: 1.8rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
html body h1,
html body h2,
html body h3,
html body h4,
html body h5,
html body h6 {
  font-family: "Signika", sans-serif;
}
html body p {
  font-size: 1.15rem;
  line-height: 1.8rem;
}
html body header {
  grid-area: header;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 775px) {
  html body header {
    flex-direction: column;
    align-items: flex-start;
  }
}
html body header #title-link {
  margin-right: auto;
}
html body header a {
  font-size: 1.1rem;
}
html body header a.social-link {
  margin-left: 3rem;
  color: rgba(245, 245, 245, 0.34);
}
@media screen and (max-width: 845px) {
  html body header a.social-link {
    margin-left: 2.5rem;
  }
}
@media screen and (max-width: 775px) {
  html body header a.social-link {
    margin-right: 1.5rem;
    margin-left: 0;
  }
}
html body header a.social-link .text {
  display: none;
}
html body header a:first-child {
  font-style: initial;
}
@media screen and (max-width: 775px) {
  html body header a:first-child {
    margin-right: 1.5rem;
    margin-left: 0;
  }
}
html body header a:hover {
  color: rgb(73, 187, 160);
}
html body header a h1 {
  font-size: 2.5rem;
  font-family: "Maka";
}
@media screen and (max-width: 775px) {
  html body header a h1 {
    margin-bottom: 1rem;
    font-size: 3rem;
  }
}
html body header #menu-bars {
  display: none;
  cursor: pointer;
}
@media screen and (max-width: 775px) {
  html body header #menu-bars {
    display: initial;
  }
}
html body main {
  margin-top: 2.5rem;
}
html body main h2 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

/*# sourceMappingURL=base.css.map */
