---
title: My Photography
tags: photography
hide_related: true
notestyle: /css/photography.css
---
<div class="photographs">
{% for photograph in collections.photography %}
  {% if photograph.data.title != "My Photography" and not photograph.data.private %}
    <a href="{{ photograph.url }}" >
    <img src="{{ photograph.data.headerimage }}" />
    </a>
  {% endif %}
{% endfor %}
</div>