---
title: Projects
tags: ["projects"]
hide_related: true
---
<p>
  Personal or professional projects, small or big, software or not (mostly software).
</p>
{# <p>
  List of notes tagged "prose":
</p>
<ul>
{% for p in collections.prose %}
  {% if p.data.title != "Prose" and not p.data.private %}
    <li>
      <a href="{{p.url}}">{{p.data.title}}</a>
    </li>
  {% endif %}
{% endfor %}
</ul> #}