---
layout: base.njk
title: Abdullah's Digital Garden
---
<h1>Yoooo</h1>
<ul>
  {% for note in collections.notes -%}
    <li>
      <a href="{{ note.url }}">{{ note.data.title }}</a>
    </li>
  {% endfor %}
</ul>