---
layout: home.njk
title: Abdullah's Digital Garden
---

<div class="main">

  <section>
    <h2>Hi, I'm Abdullah.</h2>
    <p class="bio">
      I go places, click photographs, write stuff and build software. Welcome to my personal website, which is now a <a href="/garden/digital-garden">digital garden.</a>
    </p>
  </section>

  <section>
    <h2>Bespoke Collections</h2>
    <div class="list-section">
      <a href="/garden/poetry">Poetry</a>
      <a href="/garden/prose">Prose</a>
      <a href="/garden/photography">Photography</a>
      <a href="/garden/projects">Projects</a>
    </div>
  </section>

  <section>
    <h2>Tags</h2>
    <div class="list-section">
    {% for t in collections.tagsList -%}
      <a href="/tags/{{ t }}">{{ t if t != "garden" else "all" }}</a>
    {% endfor %}
    </div>
  </section>

</div>
