---
layout: tagged.njk
pagination:
  data: collections
  size: 1
  alias: tag
permalink: /tags/{{ tag }}/
---
{% if tag == "garden" %}
  <h1>All Notes</h1>
{% else %}
  <h1>Tagged “{{ tag }}”</h1>
{% endif %}

<ul>
{% set taglist = collections[ tag ] %}
{% for post in taglist | reverse %}
  {% if not post.data.private %}
    <li><a href="{{ post.url | url }}">{{ post.data.title }}</a></li>
  {% endif %}
{% endfor %}
</ul>