@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,700;1,400;1,700&family=Signika:wght@700&display=swap');
@import 'fonts';
@import 'vars';

html {
  margin: 0;
  padding: 0;

  * {
    transition: all 0.25s;
  }

  
  body {

    background: rgb(26, 26, 26);
    color: whitesmoke;
    font-family: 'Nunito', sans-serif;
    margin-left: 25vw;
    margin-right: 25vw;
    margin-top: 4rem;
    margin-bottom: 10rem;

    display: grid;
    grid-template-areas: 
      "sidebar header"
      "sidebar content"
    ;

    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto;

    header {
      grid-area: header;
    }

    .sidebar {

      grid-area: sidebar;
      padding-right: 9rem;
      margin-left: -18rem;
      margin-top: 1rem;

      ul {
        list-style: none;

        li {
          a {

            color: rgba(255, 255, 255, 0.243);
            font-weight: bold;

            &:hover {
              color: $accent_color;
            }
          }
        }

      }
    }

    main {
      grid-area: content;
    }
    
    a {
      text-decoration: none;
      color: $accent_color;
      &:visited{
        color: $accent_color;
      }
    }

    ul {

      padding-left: 1rem;

      li {
        font-size: 1.2rem;
        line-height: 1.8rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;        
      }
    }

    h1, h2, h3, h4, h5, h6 {
      font-family: 'Signika', sans-serif;
    }

    p {
      font-size: 1.15rem;
      line-height: 1.8rem;
    }

    header {
      display: flex;
      align-items: center;

      a {

        font-size: 1.1rem;
        font-style: italic;
        
        &.social-link{
          margin-left: 1rem;
          color: rgba(245, 245, 245, 0.34);
        }

        &:first-child{
          margin-right: auto;
          font-style: initial;
        }

        &:hover{
          color: $accent_color;
        }

        h1 {
          font-size: 2.5rem;
          font-family: 'Maka';
        }

      }



    }

    main {

      margin-top: 2.5rem;

      h2 {
        font-size: 3rem;
        margin-bottom: 1rem;
      }
    }
  }
}