@import 'vars';

main {
  .last-modified {
    color: rgba(245, 245, 245, 0.332);
    font-size: 1rem;
  }

  h1 {
    font-size: 4rem;
    border-bottom: 1px solid $accent_color_transaprent;
    padding-bottom: 1rem;
    margin-top: 2rem;
  }

  h2 {
    font-size: 2rem;
  }

  p {
    margin-bottom: 2.5rem;

    img {
      max-width: 100%;
      box-shadow: 0px -1px 31px 9px rgba(0, 0, 0, 0.18);
      -webkit-box-shadow: 0px -1px 31px 9px rgba(0, 0, 0, 0.18);
      -moz-box-shadow: 0px -1px 31px 9px rgba(0, 0, 0, 0.18);
    }
  }

  .related {
    margin-top: 8rem;
  }

  blockquote {
    background-color: rgb(32, 32, 32);
    padding: 3rem;
    margin: 0;
    font-style: italic;
  }
}
