@import 'vars';

main {

  .last-modified {
    color: rgba(245, 245, 245, 0.332);
    font-size: 1rem;
  }

  h1 {
    font-size: 4rem;
    border-bottom: 1px solid $accent_color_transaprent;
    padding-bottom: 1rem;
    margin-top: 2rem;
  }
  h2 {
    font-size: 2rem;
  }

  p {
    margin-bottom: 2.5rem;
  }

  .related {    
    margin-top: 8rem;
  }
}